/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* body  */
*{
    font-family: Work Sans;
}
/* nav  */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-side{
    display: flex;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}
.site-name{
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#G-of-gamer{
    color: #ff42a5;
}
.right-side img{
    width: 70px;
    height: 50px;
}
#side-bar-3 ul{
    display: flex;
    gap: 10px;
    border-radius: 8px;
    background: #0b02231a;  
}

/* banner */
.banner{
    display: flex;
    justify-content: space-around;
}
.banner-text{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
#goat{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left-banner ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
